* {
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #000000;
    background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
    background-size: 20px 20px;
    color: #D9D9D9;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    padding: 16px 0 32px 0;
}

header > h1 {
    font-size: 1.75rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 1.2rem;
    max-width: 420px;
    color: #8E8E8E;
}

section.game-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F9F4DA;
    max-width: 300px;
    min-height: 33px;
    border-radius: 4px;
    padding: 0 15px;
}

section.game-status.won {
    background-color: #10A95B;
    margin-bottom: 40px;
}

section.game-status.lost {
    background-color: #BA2A2A;
    margin-bottom: 40px;
}

section.game-status.farewell {
    background-color: #e9a5c8;
    border: 1px dashed #323232;
    border-radius: 4px;
    color: #323232;
}

section.game-status > p {
    margin: 5px;
}

section.game-status > p.farewell-message {
    font-style: italic;
    font-weight: 400;
}

section.game-status > h2 {
    font-size: 1.5rem;
    margin: 3px 0;
}

section.language-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    max-width: 400px;
    margin-bottom: 40px;
    font-size: 1.25rem;
}

span.chip {
    border-radius: 3px;
    padding: 5px;
    position: relative;
}

span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.95rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

section.word {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 40px;
}

section.word > span {
    height: 55px;
    width: 55px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-bottom: 1px solid #F9F4DA;
}

section.word > span.missed-letter {
    color: #EC5D49;
}

section.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: 580px;
    margin-bottom: 30px;
}

section.keyboard > button {
    height: 55px;
    width: 55px;
    font-size: 1.35rem;
    background-color: #FCBA29;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

section.keyboard > button.correct {
    background-color: #10A95B;
}

section.keyboard > button.wrong {
    background-color: #EC5D49;
}

section.keyboard > button:disabled {
    cursor: not-allowed;
    opacity: 0.5
}

button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 155px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}

.guesses-left {
    font-size: 1.25rem;
    color: #F9F4DA;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
@media (max-width: 600px) {
    body {
        padding: 0;
        min-height: 100vh;
        width: 100%;
        overflow-x: hidden;
    }
    main {
        gap : 5px;
        padding : 0px 4px 24px 4px;
        width: 100%;
        max-width: 100vw;
        min-height: 100vh;
        box-sizing: border-box;
    }
    header > p {
        margin: 0px;
        padding-bottom: 20px;
    }
    section.game-status.won, section.game-status.lost {
        margin-bottom: 20px;
    }
    section.game-status.farewell {
        min-height: unset;
    }
    .farewell-message {
        font-size: 0.9rem;
        margin: 0px;
        padding-bottom: 2px;
    }
    .guesses-left{
        margin: 18px 0px 15px;
    }
    section.language-chips {
        font-size: 1rem;
        margin-bottom: 25px;
    }
    section.word {
        margin-bottom: 25px;
    }
    section.word > span {
        height: 36px;
        width: 36px;
        font-size: 1rem;
    }
    section.keyboard {
       margin-bottom: 18px;
        max-width: 100%;
        gap: 4px;
    }
    section.keyboard > button {
        height: 50px;
        width: 50px;
        min-width: 0;
        font-size: 1.1rem;
    }
}
@media (max-width: 381px) {
    header > h1 {
        font-size: 1.5rem;
        padding: 0px;
        margin-bottom: 5px;
    }
    header > p {
        font-size: 1rem;
        max-width: 300px;
}
section.keyboard{
    gap: 1.8px;
}
}
